ul {
  padding: 0;
}

.note {
  background-color: rgba(226, 162, 43, 0.158);
  border: 1px solid rgba(137, 43, 226, 0.377);
  display: inline-block;
  border-radius: 4px;
  margin: 0.5rem;
  vertical-align: top;
}
.note > hr {
  margin-inline: 0.2rem;
}
.note__buttons button {
  margin: 0.2rem;
  padding: 0.3em;
  background-color: transparent;
  color: blueviolet;
  border: none;
  cursor: pointer;
}
.note__buttons button:hover {
  background-color: rgba(0, 0, 0, 0.055);
  border-radius: 4px;
}

.note__buttons button:disabled {
  color: grey;
  border-radius: 4px;
}

.note__buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
.note__title {
  margin: 0;
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  background-color: transparent;
  border: none;
  outline: none;
}
.note__description {
  min-width: 150px;
  min-height: 50px;
  padding: 1rem;
  background-color: transparent;
  border: none;
  outline: none;
}

input {
  width: 150px;
}

.col-left,
.col-right {
  display: inline-block;
}

h4 {
  font-family: sans-serif;
}
